<?xml version="1.0" encoding="UTF-8"?>
<javaee:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_9" version="2.4">
  <javaee:filter>
    <javaee:filter-name>struts2</javaee:filter-name>
    <javaee:filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</javaee:filter-class>
  </javaee:filter>
  <javaee:filter-mapping>
    <javaee:filter-name>struts2</javaee:filter-name>
    <javaee:url-pattern>*.action</javaee:url-pattern>
  </javaee:filter-mapping>
  <javaee:welcome-file-list>
    <javaee:welcome-file>login.html</javaee:welcome-file>
  </javaee:welcome-file-list>
</javaee:web-app>